
---
import Navbar from '../components/layout/Navbar.astro';

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Gaizka Jimenez - Software Developer",
  description = "Portfolio personal de Gaizka Jimenez, Software Developer" 
} = Astro.props;
---


<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-pattern">
	<Navbar />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary: #f5f5f5;
    --secondary: #ffffff;
  }

  html {
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
  }

  body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
  }

  .bg-pattern {
    @apply min-h-screen;
  }
</style>
